@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("variables.css");
@import url("../components/container.css");
@import url("../components/nav.css");
@import url("../components/header_nav.css");
@import url("../components/title.css");
@import url("../components/footer.css");

body {
    color: var(--preto);
    font-size: var(--font-size);
    font-family: var(--font-family);
}
a {
    color: var(--foreground);
    text-decoration: none;
}
footer{
    font-size: var(--font-size-footer);
}
.desktop {
    display: none;
}
.uppercase {
    text-transform: uppercase;
}
@media screen and (min-width: 700px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
    main section:nth-child(odd) {
        background-color: var(--background);
    }
}